{% load  staticfiles articles_tags %}
{% get_articles "fun-facts" as articles %}

<section id="animated-number">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Fun Facts</h2>
                <!--p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p-->
            </div>

            <div class="row text-center">
                {% for article in articles %}
                <div class="col-sm-3 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                        <div class="animated-number" data-digit="{{ article.description }}" data-duration="1000"></div>
                        <strong>{{ article.title }}</strong>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section><!--/#animated-number-->
