{% load  staticfiles articles_tags thumbnail %}
{% get_articles "slider-home" as articles %}

<section id="main-slider">
    <div class="owl-carousel">
        {% for article in articles %}
        {% thumbnail article.file "1377x700" crop="center" as im %}                
        <div class="item" style="background-image: url({{ im.url }})">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="carousel-content">
                                <h2>{{ article.title }}</h2>
                                <p>{{ article.description }}</p>
                                <a class="btn btn-primary btn-lg" href="#services">Mas Servicios</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->
        {% endthumbnail %}
        {% endfor %}
    </div><!--/.owl-carousel-->
</section><!--/#main-slider-->
